<div class="row g-0 filtro-titulos mb-3">
  <div class="col">
    <mat-form-field appearance="outline" class="form-pesquisa" mat-elevation-z5>
      <input
        [(ngModel)]="textoInput"
        (keyup)="atualizaFiltroTextoInput()"
        (change)="atualizaFiltroTextoInput()"
        matInput class="input-pesquisa"
        placeholder="Pesquise..."
        style="font-family: Futura Bk BT; font-size: 16px; font-weight: 400; line-height: 22px; letter-spacing: 0em; color: #3a4859 !important;">
        <button *ngIf="textoInput" matSuffix mat-icon-button aria-label="Clear" (click)="limparInput()" class="btn-limpar">
          <mat-icon class="limpar">close</mat-icon>
        </button>
    </mat-form-field>
  </div>
</div>
<div class="row g-0 conteiner-titulo">


  @for (titulo of galeria(); track $index) {
    <div class="col card-titulo">
      <app-card-titulo [titulo]="titulo"></app-card-titulo>
    </div>
  }

  <div class="button-container">
    <button mat-raised-button (click)="retrocedePagina()" [disabled]="indiceGaleria() === 0">Anterior</button>
    <button mat-raised-button (click)="avancaPagina()" [disabled]="indiceGaleria() === paginacaoGaleriaLenght - 1">Próximo</button>
  </div>
</div>
