.conteiner-titulo {
  border-radius: 100px 10px 100px 10px;
  background-color:#F9FBFB;
  border: 2px solid #d0e0e3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-titulo {
  display: flex;
  flex: 1 0 20%;
  justify-content: center;
}

.titulo-painel {
  font-family: 'Caixa Sm Bd';
  // font-size: 48px;
  font-size: clamp(24px, 2vw, 10em);
  word-break: break-all;
  // color: #262f3b;
  color: #3a4859;
  text-align: center;
}

.filtro-titulos {
  text-align: center;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.btn-limpar {
  padding: 0px;
  /* margin-top: -16px; */
  /* width: 36px; */
  /* height: 36px; */
  margin-right: 10px;
  border-width: 1px;
}

.limpar{
  padding: 0;
  font-size: medium;
  margin-top: 6px;
  color: #3a4859;
}

::ng-deep .btn-limpar.mat-mdc-icon-button.mat-mdc-button-base {
  padding-top: 0px;
}

.button-container {
  text-align: center;
}

.setas-paginacao {
  font-weight: bold;
}
