<div class="row g-0 filtro-titulos mb-3">
  <div class="col">
    <mat-form-field appearance="outline" class="form-pesquisa" mat-elevation-z5>
      <input
        [(ngModel)]="textoInput"
        (keyup)="atualizaFiltroTextoInput()"
        (change)="atualizaFiltroTextoInput()"
        matInput class="input-pesquisa"
        placeholder="Pesquise aqui..."
        style="font-family: Futura Bk BT; font-size: 16px; font-weight: 400; line-height: 22px; letter-spacing: 0em; color: #3a4859 !important;">
        <button *ngIf="textoInput" matSuffix mat-icon-button aria-label="Clear" (click)="limparInput()" class="btn-limpar">
          <mat-icon class="limpar">close</mat-icon>
        </button>
    </mat-form-field>
  </div>
</div>
<div class="row g-0 conteiner-titulo">

  @if (galeriaCarregada()) {

    @for (titulo of galeria(); track $index) {
      <div class="col card-titulo">
        <app-card-titulo [titulo]="titulo"></app-card-titulo>
      </div>
    }

    <div class="button-container mb-2">
      <button class="mx-1" mat-raised-button (click)="irParaPagina(0); scrollToTop()" [disabled]="indiceGaleria() === 0"><<</button>
      <button class="mx-1" mat-raised-button (click)="retrocedePagina(); scrollToTop()" [disabled]="indiceGaleria() === 0"><</button>
      <span> Página {{ indiceGaleria() }} de {{ paginacaoGaleriaLenght - 1 }} </span>
      <button class="mx-1" mat-raised-button (click)="avancaPagina(); scrollToTop()" [disabled]="indiceGaleria() === paginacaoGaleriaLenght - 1">></button>
      <button class="mx-1" mat-raised-button (click)="irParaPagina(paginacaoGaleriaLenght - 1); scrollToTop()" [disabled]="indiceGaleria() === paginacaoGaleriaLenght - 1">>></button>
    </div>
    <div class="button-container">
      <button class="mx-1" mat-raised-button (click)="atualizaOrdenamentoDaGaleria('albumId'); scrollToTop()">Ordenar Álbum {{ this.ordenamentoDaGaleria().albumIdCrescente ? 'Decrescente' : 'Crescente' }}</button>
      <button class="mx-1" mat-raised-button (click)="atualizaOrdenamentoDaGaleria('id'); scrollToTop()">Ordenar Título  {{ this.ordenamentoDaGaleria().idCrescente ? 'Decrescente' : 'Crescente' }}</button>
    </div>
    <div class="button-container my-3">
      <mat-form-field appearance="outline">
        <mat-label>Itens por página</mat-label>
        <mat-select [(value)]="itensPorPagina" (selectionChange)="atualizaLimiteItensPorPagina($event.value)">
          <mat-option value="10">10</mat-option>
          <mat-option value="50">50</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  }
  @else {
    <mat-progress-spinner
      class="loader"
      mode="indeterminate"
      color="#ffffff"
      strokeWidth="10"
      diameter="60"
    ></mat-progress-spinner>
  }

</div>
