.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  // background-color: $azul_cx-standard;
  background-color:  #005ca9;
  // color: $cinza-lighter-2;
  color: #ffffff;
  font-weight: 500;
  font-family: "futura-medium";
}

.toolbar .informacao-projeto {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 48px;
}

.toolbar img {
  margin: 0 8px;
}

.toolbar .icone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-right: 8px;
  height: 48px;
  width: 48px;
  border-radius: 8%;
}

::ng-deep .toolbar .icone-container .mat-mdc-icon-button .mat-mdc-button-ripple,
::ng-deep .toolbar .icone-container .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  border-radius: 4px;
}

.icone-container:hover{
  background-color: rgba(0, 119, 219, 0.4);
  // opacity: 48%;
}

.toolbar .icone-caixa {
  margin-inline: 8px;
  height: 16px;
  width: 72px;
}

.divider{
  width: 1px;
  height: 24px;
  // border: 1px solid $cinza-darker-2;
   border: 1px solid #8fb5bc;
  border-radius: 50px;
  // background-color: $cinza-darker-2;
  background-color: #8fb5bc;
  margin-inline: 8px;
}

.toolbar .gestao-aplicacao {
  margin-inline: 8px;
  font-size: 20px;
  // font-family: "Futura Md BT";
  font-family: 'Caixa Bd';
}

.toolbar .nome-aplicacao {
  margin-inline: 8px;
  font-size: 21px;
  // font-family: "Futura Md";
  font-family: 'Caixa Bk';
  font-weight: 400;
  letter-spacing: 0em;
}

.spacer {
  flex: 1;
}


@media screen and (max-width: 984px) {

  .gestao-aplicacao {
    display: none;
  }

}

@media screen and (max-width: 730px) {

  .nome-aplicacao {
    display: none;
  }

  .gestao-aplicacao {
    display: none;
  }
}

