<mat-toolbar class="toolbar">
  <div class="informacao-projeto">
    <div class="icone-container">
      <button mat-icon-button class="botao-menu" (click)="expandirSideNav()">
        <mat-icon style="border-radius: 10px; margin-bottom: 1px;">menu</mat-icon>
      </button>
    </div>
    <img style="align-self: center;" height="18px" [src]="logoCaixaBranco" alt="CAIXA">
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <span class="gestao-aplicacao">{{ administracaoApp }}</span>
    <span class="nome-aplicacao">{{ tituloAppHeader }}</span>
  </div>
  <div class="spacer"></div>
</mat-toolbar>
