.conteiner-titulo {
  border-radius: 30px 30px 30px 30px;
  background-color:#F9FBFB;
  border: 2px solid #d0e0e3;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.conteiner-texto {
  display: flex;
  justify-content: center;
  align-content: center;
}

.div-usuario {
  background-color: #005ca9;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.texto-usuario {
  font-family: 'Caixa Sm Bd';
  font-size: 16px;
  color: #ffffff;
}

.div-titulo {
  margin: 10% 0 0 0;
}
.div-titulo-central {
  text-align: center;
  margin: 10px 0 30px 0;
}

.titulo {
  font-size: 40px;
  font-family: 'Caixa Sm Bd';
  line-height: 1;
  background: linear-gradient(90deg, #005ca9 2%, #4E6178 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.titulo-painel {
  font-family: 'Caixa Sm Bd';
  font-size: 48px;
  color: #262f3b;
  text-align: center;
}

.texto {
  font-family: 'Caixa Regular';
  font-size: 16px;
  color: #3a4859;
}

.div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
